/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Raleway');

//<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Raleway:400,400i,700,700i" rel="stylesheet">

body {
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Great Vibes', cursive;
    color: $color-primary-0;
}
