//////////////////////////////
//  DEFAULT AND RESETS
//////////////////////////////
@import "_variables.scss"; 
@import "_mixins";
@import "_normalize.scss";
//@import "_defaults.scss";
//@import "_fonts.scss";

//////////////////////////////
// LAYOUT
//////////////////////////////
#website {
    margin: 0;
} 

header {
/*    background-color: $color-primary-4;
    * { color:#FFF; }*/
}

nav {
    /*background-color: $color-primary-4;*/

    & > ul {
        li {
            display: inline-block;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

.slicknav_menu {
	display:none;
}

@media screen and (max-width: 500px) {
	/* #menu is the original menu */
	#nav-header {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
	} 
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

//////////////////////////////
// 
//////////////////////////////
.site-title {
    
}

//////////////////////////////
//  NAV - http://slicknav.com
//////////////////////////////
@import "nav/_slicknav.scss"; 